{% extends "partials/base.html" %}
{% load static %}
{% block title%}Summary{% endblock title %}
{% block extra_css %}{% endblock extra_css %}
{% block content %}
  <!-- ============================================================== -->
  <!-- Start right Content here -->
  <!-- ============================================================== -->
  <div class="main-content">
    <div class="page-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="card mt-n4 mx-n4 g-mt-tab_menu-foreground">
              <div class="bg-soft-warning">
                <div class="card-body pb-0 px-4">
                  <div class="row mb-3">
                    <div class="col-md">
                      <div class="row align-items-center g-3">
                        <div class="col-md-auto">
                          <div class="avatar-md">
                            <div class="avatar-title bg-white rounded-circle">
                              <img src="{% static 'images/brands/reviewanalysis.png'%}" alt="" class="avatar-xs">
                            </div>
                          </div>
                        </div>
                        <!-- end col -->
                        <div class="col-md">
                          <div>
                            <h4 class="fw-bold">리뷰분석 - {{pageInfo.title}}</h4>
                            <div class="hstack gap-3 flex-wrap">
                              <div>
                                <i class="bx bxs-edit-alt align-middle"></i>
                                리뷰분석</div>
                              <div class="vr"></div>
                              <div>기준일 :
                                <span class="fw-medium">{{initData.base_dt}}</span></div>
                            </div>
                          </div>
                        </div>
                        <!-- end col -->
                      </div>
                      <!-- end row -->
                    </div>
                    <!-- end col -->
                  </div>
                  <!-- end row -->
                  <ul id="tmallglobal-tablist" class="nav nav-tabs-custom border-bottom-0" role="tablist">
                    <li class="nav-item" role="presentation">
                      <a class="nav-link text-body active fw-semibold" data-bs-toggle="tab" href="#summaryTab" role="tab" aria-selected="true">
                        Summary
                      </a>
                    </li>
                  </ul>
                  <!-- end tab -->
                </div>
                <!-- end card body -->
              </div>
              <!-- end bg : color -->
            </div>
            <!-- end card -->
          </div>
          <!-- end col -->
        </div>
        <!-- end row : end header -->
        <div class="row">
          <div class="col-lg-12">
            <div class="tab-content text-muted">
              <div class="tab-pane fade show active" id="summaryTab" role="tabpanel">
                <div class="row">
                  <div class="col-xl-3 col-md-6">
                    <div class="card card-animate g-height-110px">
                      <div class="d-flex align-items-center">
                        <div class="flex-grow-1 p-3">
                          <h6 class="mb-2 fs-14 d-flex align-items-center">자사 제품 누적 리뷰 수
                            <button type="button" class="btn-question border-dark fs-10 text-muted" data-bs-html="true" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title={{toolTips.reviewSummaryCumReviewCount|safe}}></button>
                          </h6>
                          <h5>
                            <span id="revw_cnt" class="counter-value" data-target="">0</span>
                          </h5>
                          <p class="mb-0">
                            <span class="badge bg-light mb-0">
                              <i id="revw_rate_arrow" class="align-middle"></i>
                              <span id="revw_rate">0</span>
                            </span>
                            <span class="text-muted">기준월 전월 대비</span>
                          </p>
                        </div>
                        <div>
                          <div class="apex-charts" data-colors='["--vz-success" , "--vz-transparent"]' dir="ltr" id="summaryTotalReviewCount"></div>
                        </div>
                      </div>
                    </div>
                    <!-- end card -->
                  </div>
                  <!-- end col -->
                  <div class="col-xl-3 col-md-6">
                    <div class="card card-animate g-height-110px">
                      <div class="d-flex">
                        <div class="flex-grow-1 p-3">
                          <h6 class="mb-2 fs-14 d-flex align-items-center">자사 제품 리뷰 긍부정 비율
                            <button type="button" class="btn-question border-dark fs-10 text-muted" data-bs-html="true" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title={{toolTips.reviewSummaryPosnegRatio|safe}}></button>
                          </h6>
                          <p class="text-primary fs-14 mb-1">긍정
                            <span class="badge bg-light text-primary fs-10 ">
                              <!-- <i class="ri-arrow-up-line align-middle"></i> -->
                              <span id="pstv_cnt" class="counter-value" data-target="">0</span>%
                            </span>
                          </p>
                          <p class="text-danger fs-14">부정
                            <span class="badge badge-soft-danger fs-10 ">
                              <!-- <i class="ri-arrow-down-line align-middle"></i> -->
                              <span id="ngtv_cnt" class="counter-value" data-target="">0</span>%
                            </span>
                          </p>
                        </div>
                        <div>
                          <div class="apex-charts" data-colors='["--vz-primary", "--vz-gray-500", "--vz-danger"]' dir="ltr" id="positiveScoreChart"></div>
                        </div>
                      </div>
                    </div>
                    <!-- end card -->
                  </div>
                  <!-- end col -->
                  <div class="col-xl-3 col-md-6">
                    <div class="card card-animate g-height-110px">
                      <div class="d-flex">
                        <div class="flex-grow-1 p-3">
                          <h6 class="mb-2 fs-14 d-flex align-items-center">더마펌 제품 중 긍정 변화 1위
                            <button type="button" class="btn-question border-dark fs-10 text-muted" data-bs-html="true" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title={{toolTips.reviewSummaryDermaPosRank|safe}}></button>
                          </h6>
                          <h5 class="d-flex align-items-flex-start text-primary fs-16" style="justify-content: space-between;">
                            <span id="pstv_prod_nm" class="text-overflow"></span>
                            <button type="button" class="badge badge-soft-info waves-effect fs-10 border-0" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="">더보기</button>
                          </h5>
                          <p class="mb-0">
                            <span class="badge bg-light mb-0">
                              <i id="pstv_rate_chng_arrow" class="align-middle"></i>
                              <span id="pstv_rate_chng">0</span>
                            </span>
                            <span class="text-muted">전월 동기 대비</span>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- end col -->
                  <div class="col-xl-3 col-md-6">
                    <div class="card card-animate g-height-110px">
                      <div class="d-flex">
                        <div class="flex-grow-1 p-3">
                          <h6 class="mb-2 fs-14 d-flex align-items-center">더마펌 제품 중 부정 변화 1위
                            <button type="button" class="btn-question border-dark fs-10 text-muted" data-bs-html="true" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title={{toolTips.reviewSummaryDermaNegRank|safe}}></button>
                          </h6>
                          <h5 class="d-flex align-items-flex-start text-danger fs-16" style="justify-content: space-between;">
                            <span id="ngtv_prod_nm" class="text-overflow"></span>
                            <button type="button" class="badge badge-soft-info waves-effect fs-10 border-0" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="">더보기</button>
                          </h5>
                          <p class="mb-0">
                            <span class="badge bg-light mb-0">
                              <i id="ngtv_rate_chng_arrow" class="align-middle"></i>
                              <span id="ngtv_rate_chng">0</span>
                            </span>
                            <span class="text-muted">전월 동기 대비</span>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- end col -->
                </div>
                <!-- end row : 중요 정보 카드 -->
                <div class="row">
                  <div class="col-xl-12">
                    <div class="card">
                      <div class="card-header">
                        <div class="row g-3 align-items-center">
                          <div class="col-7 col-sm-6 col-md-6 col-xl-7 col-xxl-7">
                            <div class="d-flex align-items-center">
                              <h4 class="card-title mb-0 d-flex align-items-center">채널별 리뷰 지도
                                <button type="button" class="btn-question border-dark fs-10 text-muted" data-bs-html="true" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title={{toolTips.reviewSummaryReviewTreemap|safe}}></button>
                              </h4>
                            </div>
                          </div>
                          <div class="col-5 col-sm-6 col-md-2 col-xl-2 col-xxl-2" style="text-align: right;">
                            <button type="button" class="pstv1 btn error btn-soft-primary btn-sm btn-sm-rv-smy">긍정</button>
                            <button type="button" class="ngtv1 btn nomal btn-soft-danger btn-sm btn-sm-rv-smy">부정</button>
                          </div>
                          <div class="col-12 col-sm-12 col-md-4 col-xl-3 col-xxl-3">
                            <div class="input-group">
                              <input type="text" class="form-control text-muted flatpickr-input active" id="channelMyProdViewer" data-provider="flatpickr" data-range-date="true" data-date-format="Y-m-d" data-deafult-date="" placeholder="조회 기간을 선택하세요." readonly="readonly">
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- end card header -->
                      <div class="card-body border-bottom">
                        <form>
                          <div class="row g-3">
                            <div class="col-xxl-3 col-sm-3">
                              <select class="form-control" id="sbxChannel">
                              </select>
                            </div>
                            <div class="col-xxl-6 col-sm-6">
                              <select class="form-control" id="sbxChannelTopic">
                              </select>
                            </div>
                            <div class="col-xxl-3 col-sm-3">
                              <div>
                                <button type="button" class="btn btn-primary w-100" onclick="summary.channelReviewTreeMapSearch();">검색</button>
                              </div>
                            </div>
                          </div>
                          <!--end row-->
                        </form>
                      </div>
                      <!-- end card body -->
                      <div class="card-body">
                        <!--그래프-->
                        <div id="chart-tree-channel-my-prod" class="e-charts" data-colors='["--vz-primary", "--vz-success", "--vz-warning", "--vz-danger", "--vz-info"]'></div>
                      </div>
                      <!-- end card body -->
                    </div>
                    <!-- end card -->
                  </div>
                </div>
                <!-- end row : 채널 별 자사 제품 비교 -->
                <div class="row">
                  <div class="col-12">
                    <div class="card">
                      <div class="card-header">
                        <div class="row g-3 align-items-center">
                          <div class="col-8 col-sm-8 col-md-10 col-xl-10 col-xxl-10">
                            <div class="d-flex align-items-center">
                              <h6 class="card-title mb-0 d-flex align-items-center">전월 대비 긍정 / 부정 비율 변화
                                <button type="button" class="btn-question border-dark fs-10 text-muted" data-bs-html="true" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title={{toolTips.reviewSummaryPosnegMomRate|safe}}></button>
                            </h6>
                            </div>
                          </div>
                          <div class="col-4 col-sm-4 col-md-2 col-xl-2 col-xxl-2" style="text-align: right;">
                            <button type="button" class="pstv2 btn error btn-soft-primary btn-sm btn-sm-rv-smy">긍정</button>
                            <button type="button" class="ngtv2 btn nomal btn-soft-danger btn-sm btn-sm-rv-smy">부정</button>
                          </div>
                        </div>
                      </div>
                      <!-- end card header -->
                      <div class="card-body g-min-height-xl-221px">
                        <div id="lastMonthTopicGoodBadList" class="table-card"></div>
                      </div>
                      <!-- end card body -->
                    </div>
                    <!-- end card -->
                  </div>
                  <!-- end col -->
                </div> 
                <!-- end row : 전월 대비 토픽별 긍정/부정 비율 변화 -->
                <div class="row">
                  <div class="col-12">
                    <div class="card">
                      <div class="card-header">
                        <div class="row g-3 align-items-center">
                          <div class="col-7 col-sm-6 col-md-6 col-xl-7 col-xxl-7">
                            <div class="d-flex align-items-center">
                              <h6 class="card-title mb-0 d-flex align-items-center">제품 별 긍부정 시계열 그래프
                                <button type="button" class="btn-question border-dark fs-10 text-muted" data-bs-html="true" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title={{toolTips.reviewSummaryDermaNegRank|safe}}></button>
                              </h6>
                            </div>
                          </div>
                          <div class="col-5 col-sm-6 col-md-2 col-xl-2 col-xxl-2" style="text-align: right;">
                            <button type="button" class="pstv3 btn error btn-soft-primary btn-sm btn-sm-rv-smy">긍정</button>
                            <button type="button" class="ngtv3 btn nomal btn-soft-danger btn-sm btn-sm-rv-smy">부정</button>
                          </div>
                          <div class="col-12 col-sm-12 col-md-4 col-xl-3 col-xxl-3">
                            <div class="input-group">
                              <input type="text" class="form-control text-muted flatpickr-input active" id="summaryTimeSeriesDate" data-provider="flatpickr" data-range-date="true" data-date-format="Y-m-d" data-deafult-date="" placeholder="조회 기간을 선택하세요." readonly="readonly">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card-body border-bottom">
                        <form>
                          <div class="row g-3">
                            <div class="col-xxl-3 col-sm-3" style="display: none;">
                              <select class="form-control" id="choices-search-type" data-choices="data-choices" data-choices-search-false="data-choices-search-false">
                                <option value="1">누적</option>
                                <option value="2">시점</option>
                              </select>
                            </div>
                            <div class="col-xxl-9 col-sm-9">
                              <select class="form-control" id="channel_posi_nega_prod" multiple="multiple"></select>
                            </div>
                            <div class="col-xxl-3 col-sm-3">
                              <div>
                                <button type="button" class="btn btn-primary w-100" onclick="summary.channelSentimentTrendSearch();">검색</button>
                              </div>
                            </div>
                          </div>
                          <!--end row-->
                        </form>
                      </div>
                      <div class="card-body">
                        <!--그래프-->
                        <div id="chart-line-channel-posi-nega" class="e-charts" data-colors='["--vz-primary", "--vz-success", "--vz-warning", "--vz-danger", "--vz-info"]'></div>
                      </div>
                      <!-- end card body -->
                    </div>
                    <!-- end col -->
                  </div>
                </div>
              </div>
              <!-- end page content -->
            </div>
            <!-- end tab-content -->
          </div>
          <!-- end col -->
        </div>
        <!-- end row : end content -->
      </div>
      <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
  </div>
  <!-- end main content-->
{% endblock content %}
{% block extra_js %}
<script src="{% static 'js/reviewanalysis/summary.js' %}"></script>
<script>
  window.onload = function () {
    setTimeout(function () {
      window.scrollTo(0, 0);
      // 매출 탭 이벤트 적용
      let initData = "{{initData|safe}}";
      let jsonData = JSON.parse(initData.replace(/'/g, "\""));
      summary.onLoadEvent(jsonData);
    }, 100);
  };
</script>
{% endblock extra_js %}
