<div class="row">
  <div class="col-lg-12">
    <div class="card" id="orderList">
      <div class="card-header border-0">
        <div class="row align-items-center gy-3">
          <div class="col-sm">
            <h5 class="card-title mb-0 d-flex align-items-center">DB 검색기
            <button type="button" class="btn-question border-dark fs-10 text-muted" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title={{toolTips.dbFinderTooltip|safe}}></button>
            </h5>
          </div>
          <div class="col-sm-auto"></div>
        </div>
      </div>
      <div class="card-body border border-dashed border-end-0 border-start-0 mb-3">
        <!-- <div class="input-group"> <div class="search-box"> <input id="dbSearchGridSearchInput" type="text" class="form-control search" placeholder="검색어를 입력하세요."> <i class="ri-search-line search-icon"></i> </div> <a class="btn btn-primary waves-effect waves-light" id="dbSearchGridSearchBtn">검색</a> </div> -->
        <div class="row">
          <div class="col-10">
            <div class="form-icon search-box">
              <input type="text" class="form-control form-control-icon search" id="dbSearchGridSearchInput" placeholder="검색어를 입력하세요.">
              <i class="ri-search-line search-icon"></i>
            </div>
          </div>
          <div class="col-2">
            <a class="btn btn-primary waves-effect waves-light w-100" id="dbSearchGridSearchBtn">검색</a>
          </div>
        </div>
      </div>
      <div class="card-body pt-0">
        <div class="col-lg-12">
          <div id="dbSearchList"></div>
        </div>
      </div>
    </div>
  </div>
  <!--end col-->
</div>
<!--end row-->
<script>
  document.addEventListener("DOMContentLoaded", () => {
    let dbSearchListGrid = null;
    const apiUrl = '/mscreening/getDbSearch';
    // DB 검색기
    if (document.getElementById("dbSearchList")) {
      dbSearchListGrid = new gridjs.Grid({
        sort: true,
        columns: [
          {
            id: 'kcia_cd',
            name: '성분코드',
            width: '90px'
          },{
            id: 'kr_nm',
            name: '국문 성분명',
            width: '300px'
          }, {
            id: 'cn_nm',
            name: '중문 성분명',
            width: '300px'
          }, {
            id: 'en_nm',
            name: '영문 성분명',
            width: '300px'
          }, {
            id: 'cas_no',
            name: 'CAS No.',
            width: '100px'
          }, {
            id: 'old_nm',
            name: '구 성분명',
            width: '200px'
          }, {
            id: 'use_cn',
            name: '중국사용가능물질',
            width: '150px'
          }, {
            id: 'wash_off',
            name: '씻어내는 제품 중 최고 역사 사용량',
            width: '250px'
          }, {
            id: 'leav_on',
            name: '씻어내지 않는 제품 중 최고 역사 사용량',
            width: '300px'
          }, {
            id: 'limt_mat',
            name: '사용제한물질',
            width: '130px'
          }, {
            id: 'ch_preser',
            name: '중국준용방부제',
            width: '180px'
          },{
            id: 'ch_sunscreen',
            name: '중국준용자외선차단',
            width: '180px'
          },{
            id: 'ch_ci',
            name: '중국준용착색제',
            width: '180px'
          },{
            id: 'g_cites',
            name: 'Global CITES',
            width: '180px'
          },{
            id: 'ch_cites',
            name: '중국 CITES',
            width: '180px'
          },{
            id: 'ewg_date',
            name: 'ewg',
            width: '100px'
          }, {
            id: 'hwa_data',
            name: '화해',
            width: '100px'
          }, {
            id: 'mei_data',
            name: '메이리슈싱',
            width: '100px'
          }, {
            id: 'cir_data',
            name: 'CIR Link',
            width: '200px'
          }
        ],
        pagination: {
          limit: 10
        },
        language,
        data: []
      });

      dbSearchListGrid.render(document.getElementById('dbSearchList'));

      // 검색어 입력 창
      const serchInputTrigger = document.getElementById('dbSearchGridSearchInput');
      // 검색버튼
      const serchBtnTrigger = document.getElementById('dbSearchGridSearchBtn');
      if (serchInputTrigger) {
        serchInputTrigger.addEventListener('keypress', function (e) {
          if (e.key === 'Enter') {
            serchBtnTrigger.click();
          }
        });
      }
      if (serchBtnTrigger) {
        serchBtnTrigger.addEventListener('click', function () {
          // api 주소 변경으로 적용, 다른 방법이 있는지 확인 필요
          dbSearchListGrid
            .updateConfig({
              server: {
                url: `${apiUrl}?search=${document
                  .getElementById('dbSearchGridSearchInput')
                  .value}`,
                then: data => data.results
              }
            })
            .forceRender();
        });
      }
    }
  });
</script>
