commands:
    01_node_install:
        command: |
          curl -sL https://rpm.nodesource.com/setup_16.x | sudo bash -
          yum install -y nodejs


container_commands:
    01_setup_gulp:
        command: npm install --global gulp-cli
        ignoreErrors: true

    02_setup_gulp_dependencies:
        command: npm install --save-dev gulp gulp-util
        ignoreErrors: true

    03_setup_gulp:
        command: npm install gulp
        ignoreErrors: true

    04_build_gulp:
        command: gulp build
        ignoreErrors: true

    06_setup_mecab:
        command: curl -s https://raw.githubusercontent.com/konlpy/konlpy/master/scripts/mecab.sh
        ignoreErrors: true

    07_setup_jdk:
        command: sudo yum -y install java-1.8.0-openjdk
        ignoreErrors: true

    08_setup_jdk_devel:
        command: sudo yum -y install java-1.8.0-openjdk-devel
        ignoreErrors: true

    09_setup_postgresql_devel :
        command: sudo yum -y install postgresql-devel
        ignoreErrors: true

    10_setup_sudo_pipinstall:
        command: sudo pip3 install konlpy jpype1-py3 hangul-utils
        ignoreErrors: true

