option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: velzon.wsgi:application

container_commands:
  01_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py collectstatic"
    leader_only: true

  02_makemigrate_database:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py makemigrations"
    leader_only: true

  02_migrate_database:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate"
    leader_only: true
